/*
 * name: Hope Matthews
 * email: mattheho@oregonstate.edu
 */


body {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Header styles */
.header-container {
  width: 100%;
}

header {
  text-decoration: none;
  background-color: #000000;
  color: white;
  padding: 10px 0;
  text-align: left;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

.header-image-container {
  margin-right: 10px;
  top:100px;
  float: left; 
}

.header-image-container img {
  width: 150px; 
  height: 150px; 
  object-fit: cover;
}

.site-title {
  text-decoration: none; 
  color: white;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 80px;
  top: 10px;
  margin: 0;
  float: left;
  transition: underline 0.3s;
}

.site-title:hover {
  text-decoration: underline;
}

.filter-container {
  background-color: #efeeef;
  padding: 20px;
  width: 275px;
  height: 400px;
  float: left;
}


.filter-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.filter-input-element input[type="text"] {
  width: 60px; 
  padding: 5px; 
  font-size: 14px; 
  margin-right: 15px; /* Add space between filter input elements */
}

.filter-input-label {
  margin-bottom: 5px; /* Add some bottom margin to create space between labels and input elements */
}

#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: calc(100% - 300px); /* Adjust max-width to leave space for filter container */
  margin-top: 20px;
  gap: 20px;
}

.post {
  border: 1px solid #ced4da;
  padding: 20px;
  width: calc(33.33% - 40px);
  height: 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.post img {
  width: 100%; 
  height: 150px; 
  object-fit: cover;
  margin-bottom: 10px; 
}

.post-content {
  margin-top: 10px;
}


.post-title {
  color: #ea977a;
  text-decoration: none;
  font-family: 'Roboto', sans-serif; /
  font-size: 1.2em; 
  transition: underline 0.3s;
}

.post-title:hover {
  text-decoration: underline;
}

.post-price {
  background-color: #efeeef;
  border: 1px solid #00000f;
  border-radius: 5px;
  padding: 2px 12px;
  font-size: 0.9em;
}


#sell-something-button {
  background-color: #ed7144;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
  transition: all 0.3s;
}

#sell-something-button:hover {
  background-color: #ed7144;
  transform: scale(1.1); /* Grow slightly on hover */
}

#filter-update-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 270px;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif; 
  cursor: pointer;
  transition: all 0.3s;
}

#filter-update-button:hover {
  background-color: #333;
}


@media (max-width: 1200px) {
  #posts .post {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  #posts .post {
    width: calc(100% - 40px);
  }
}